* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Monospace';
	font-size: 14px;
	letter-spacing: 1px;
}

.container {

	display: flex;
	flex-direction: row-reverse;
	justify-content: right;
	align-items: right;
	background: transparent;
}

.open-btn 	{
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.5rem 1.5rem;
	background: white;
	border: 0cm;
	border-bottom: 1px solid #ddd;
	/* cursor: pointer; */

}
.popup {
	position: absolute;
	width: 100%;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	/* background-color: white; */
}
.popup-overlay {
	height: 100vh;
	width: 100%;
	position: absolute;
}
.main-popup {
	position: absolute;
	right: 0;
	height: 100vh;
	width: 65%;
	z-index: 1;
	background: white;
	padding: 30px 20px;
	line-height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(100%);
}
.close-btn {
	border: .6px solid black;
	padding: 10px;
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	cursor: pointer;
	transition: .5s ease all;
}
.close-btn:hover {
	background: white;
}
.popup-content p {
	font-size: 1.5rem;
	line-height: 2rem;
}
@keyframes slide-in {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slide-out {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}

.tabs {
	position:absolute;
	top:50%;
	left:45%;
	transform:translate(-50%,-50%);
	width: 90%;
	height: 100vh;
  }
  .tabs .tab-header {
	background:#fff;
	padding:10px;
	display:flex;
  }
  .tabs .tab-header > div {
	position:relative;
	width:25%;
	text-align:cetopnter;
	padding:10px;
	z-index:2;
	font-weight:60;
	color:#888;
	cursor:pointer;
	transition:all 300ms ease-in-out;
  }
  .tabs .tab-header > div.active {
	color:#030303;
  }
  .tabs .tab-indicator {
	position:absolute;
	width:calc(25% - 5px);
	height:40px;
	background:#eee;
	top:10px;
	left:10px;
	transition:all 300ms ease-in-out;
  }
  .tabs .tab-body {
	position:relative;
	padding:20px;
	background:#fff;
	border-top:1px solid #ddd;
	height:calc(100% - 50px);
	overflow:hidden;
  }
  .tabs .tab-body > div {
	position:absolute;
	opacity:0;
	top:-100%;
	transform:translateY(-10px);
	transition:opacity 300ms ease-in-out,
			  transform 300ms ease-in-out;
  }
  .tabs .tab-body > div.active {
	transform:translateY(0px);
	top:30px;
	opacity:1;
  }
  .tabs .tab-body h1 {
	color:#222;
	margin-bottom:10px;
  }
  .tabs .tab-body p {
	color:#555;
	font-size:15px;
  }