* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Monospace';
	font-size: 14px;
	letter-spacing: 1px;
}

.container {

	display: flex;
	flex-direction: row-reverse;
	justify-content: right;
	align-items: right;
	background: transparent;
}

.open-btn 	{
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.5rem 1.5rem;
	background: white;
	border: 0cm;
	border-bottom: 1px solid #ddd;
	/* cursor: pointer; */

}
.popup {
	position: absolute;
	width: 100%;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	/* background-color: white; */
}
.popup-overlay {
	height: 100vh;
	width: 100%;
	position: absolute;
}
.main-popup {
	position: absolute;
	right: 0;
	height: 100vh;
	width: 50%;
	z-index: 1;
	background: white;
	padding: 30px 20px;
	line-height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(100%);
}
.close-btn {
	border: .6px solid black;
	padding: 10px;
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	cursor: pointer;
	transition: .5s ease all;
}
.close-btn:hover {
	background: white;
}
.popup-content p {
	font-size: 1.5rem;
	line-height: 2rem;
}
@keyframes slide-in {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slide-out {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}

